<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzjlxebr.hurrypush">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ui.base.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.base.SettingsActivity"
            android:label="@string/nav_drawer_item_settings"
            android:parentActivityName=".ui.base.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".db.HurryPushProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />
        <service
            android:name=".service.HurryPushSyncService"
            android:exported="false" />

        <activity
            android:name=".ui.base.StartFlyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_fly"
            android:parentActivityName=".ui.base.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.base.SurveyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_survey"
            android:parentActivityName=".ui.base.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.TimerService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
